@import url("https://use.typekit.net/hct4vcx.css");
$default-h1-font-family: "josefin-slab", monospace;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f0f0f;
}
.title {
  display: flex;
  position: fixed;
  z-index: 15;
  align-items: center;
  justify-content: center;
  margin-left: 50vw;
  height: 100vh;
  h1 {
    color: #c90711;
    font-size: 5rem;
    position: fixed;
    font-family: $default-h1-font-family;
  }
}

.images {
  height: 100vh; 
  display: grid;
  grid-template-columns: repeat(5, 400px);
  overflow: auto;
  grid-gap: 300px;
  align-items: center;
  img:nth-child(1) {
    padding: 20px;
    filter:saturate(3) opacity(5%);
    margin-top: 50px;
  }
  img:nth-child(2) {
    padding: 20px;
    filter:saturate(3) opacity(10%);
  }
  img:nth-child(3) {
    padding: 20px;
    filter:saturate(3) opacity(15%);
    margin-bottom: 150px;
  }
  img:nth-child(4) {
    padding: 20px;
    filter:saturate(3) opacity(30%);
  }
  img:hover {
    transform: scale(1.5);
  }
}

.backBtn {
  width: 30px;
  height: auto;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}