@import url("https://use.typekit.net/hct4vcx.css");

$default-h1-font-family: "josefin-sans", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  animation: scale 60s infinite;
  background-color: #0a0a0a
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(5);
  }
}

video {
  position: absolute;
  z-index: -1;
}

audio {
  display: none;
}

a {
  font-family: $default-h1-font-family;
  font-weight: 900;
  animation: fadein 1.5s infinite;
  text-decoration: none;
  color: #0a0a0a;
}

@keyframes fadein {
  0% {
     opacity: 0.5;
     transform: scale(0.5);
     font-size: 1rem;
  }

  25% {
     opacity: 1;
     transform: scale(1);
     font-size: 5rem;
  }
  50% {
     opacity: 1;
     transform: scale(1);
  }

  100% {
     opacity: 0.5;
     transform: scale(0.5);
  }
}

button {
  position: fixed;
}