@import url("https://use.typekit.net/hct4vcx.css");

$default-h1-font-family: 'josefin-slab', monospace;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  overflow: hidden;
  padding-top: 60px;
  padding-left: 60px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .logo {
  width: 80px;
  }

  h1 {
    text-align: center;
    color: white;
    padding-right: -60px;
    font-family: $default-h1-font-family;
    font-weight: 300;
    font-size: 1.5rem;
  }
}

main {
  //min-height: 100vh;
  #symptoms {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 480px 480px 480px 480px 480px;
    grid-gap: 30px;
    align-items: center;
    overflow: auto;
    .sympt {
      display: block;
      img {
        width: 480px;
        padding: 50px;
        transition: 0.8s;
      }
      img:hover {
        margin-top: 200px;
        transform: scale(1.1);
      }
    }
  }
}

footer {
  position: absolute;
  top: 90vh;
  #backbutton {
    font-size: 1rem;
    color: white;
    font-family: $default-h1-font-family;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  #symptoms {
    display: grid;
    height: 100vh;
    grid-template-columns: 380px 380px 380px 380px 380px;
    grid-gap: 30px;
    align-items: center;
    img {
      width: 380px;
      padding: 50px;
    }
  }
}

$top-margin: (
  1: -300px,
  2: -50px,
  3: -200px,
  4: -120px,
  5: -80px
);

@each $name, $value in $top-margin {
  .sympt#{$name} {
    margin-top: $value;
  }
}